html {
	background-color: #0003;
	box-sizing: border-box;
}
header{
	background-image: url(../assets/imagenes/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 8rem;

}
div p{
	text-align: center;
}

li {
   display: inline-block;
   width: 15%;
   font-size: 2rem;
   justify-content: center;
   text-align: center;
   position: center;

}

body{
	font-size: 30px
}
.ulista{
	background-color: darkgrey;

}

.prueba{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 20px;
}
.prueba a {
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
}
.prueba a:hover{
	background-color: white;
	color:pink;

}
.desc-foto{
	width: 50rem;
	padding-left: 15rem;
	text-align: center;
}
.bordesImg { 
    max-width: 25%;
}
.paletas{
	width: 15rem;
	height:15rem;

}
.mapa{
	width:100%;
}
.ubi{
	text-align: center;
	font-style: italic;
	font-weight: bold;
}
.central{
	
	text-align: center;
}
.grid {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3,1fr);
	gap:10rem;
	margin:3rem;
}
.ImagenFondo{
	background-image: url(../assets/imagenes/ladrillo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*position: fixed;*/
}
#Ingeniero{
	font-weight: bold;
	font-style: italic;
	background-color: #0003;
}
.pad{
	margin:2rem;
}
.uno,.dos,.tres,.cuatro,.cinco{
	transition: all 200ms ease-in-out;
}
.scale:hover{
	transform:scale(1.1);
}
.pelota{
	text-align: center;	
	top: 	0;
	animation-name: sube;
	animation-iteration-count: 4;
	animation-timing-function: ease-in-out;

}
@keyframes sube{
	0%{
		top:0;
	}
	50%{
		top:100%;
	}
	100%{
		top:0;
	}
}